.OnlineCounter {
    background: #fff none repeat scroll 0 0;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    border-image: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
}

.OnlineCounter .MultiRow {
    width: 100%;
    background: #fff none repeat scroll 0 0;
    box-shadow: 0px 3px 14px 0px rgba(29, 25, 28, 0.23);
}

.OnlineCounter .MultiRow .OnlineWrap {
    overflow: hidden;
}

.OnlineCounter .MultiRow .OnlineWrap .Header {
    color: #CE2028;
    font-size: 16px;
    font-weight: bold;
    line-height: 35px;
    text-transform: uppercase;
    padding: 0 0 0 10px;
    border-bottom: 2px solid #093769;
}

.OnlineCounter .MultiRow li {
    margin-bottom: 5px;
}

.OnlineCounter .MultiRow .OnlineContainer {
    list-style: outside none none;
    margin: 0;
    padding: 5px 0 5px 10px;
}

.OnlineCounter .MultiRow .CurrenOnline {
    color: #444444;
    float: right;
    font-weight: bolder;
    padding-right: 20px;
}

.OnlineCounter .MultiRow .OneDayOnline {
    float: right;
    font-weight: bolder;
    padding-right: 20px;
}

.OnlineCounter .MultiRow .OneWeekOnline {
    float: right;
    font-weight: bolder;
    padding-right: 20px;
}

.OnlineCounter .MultiRow .TotalOnline {
    float: right;
    font-weight: bolder;
    padding-right: 20px;
}

.OnlineCounter .MultiRow .label1 {
    font-size: 13px;
}

.OnlineCounter .MultiRow .label2 {
    font-size: 13px;
}

.OnlineCounter .MultiRow .label3 {
    font-size: 13px;
}

.OnlineCounter .MultiRow .label4 {
    font-size: 13px;
}

.OnlineCounter .OneRow {
    position: relative;
    width: 100%;
}

.OnlineCounter .OneRow .OnlineWrap {
    margin: 0 auto;
    position: relative;
    width: 960px;
}

.OnlineCounter .OneRow .OnlineContainer {
    bottom: 0;
    display: inline-block;
    list-style: outside none none;
    position: absolute;
    right: 0;
    text-align: left;
}

.OnlineCounter .OneRow .OnlineContainer>li {
    border-right: 1px solid #c0c0c0;
    display: inline-block;
    padding: 0 10px;
}

.OnlineCounter .OneRow .OnlineContainer>li>span {
    color: #444444;
}