@import url('https://fonts.googleapis.com/css?family=Oswald');
body {
    font-family: 'Oswald', sans-serif;
}

.SingleTab {
    margin: 0 0 10px;
    border: 1px solid #ccc;
}

.SingleTab .Header {
    border-bottom: solid 1px #ccc;
    height: 32px;
    margin: 0 0 10px;
    padding: 0 10px;
}

.SingleTab .Header .HeaderWraper {}

.SingleTab .Header .HeaderWrap .text>a {
    color: #3e7baf;
    display: inline-block;
    text-transform: uppercase;
    white-space: nowrap;
    font-size: 20px !important;
    font-family: "Oswald", serif;
    font-weight: 700 !important;
    font-weight: bold;
}

.SingleTab .Header .HeadWraper ul {
    display: inline-block;
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

.SingleTab .Header .HeadWraper li {
    display: inline-block;
    float: left;
}

.SingleTab .Header .HeadWraper li span {
    display: block;
    height: 28px;
    line-height: 28px;
}

.SingleTab .Header .HeadWraper .Primary span {
    background: #cecece none repeat scroll 0 0;
    margin-right: 4px;
}

.SingleTab .Header .HeadWraper .Image {
    margin-right: 6px;
}

.SingleTab .Wrap {
    height: 220px;
    margin: 0;
    overflow-y: hidden;
    padding: 8px;
}

.SingleTab .Wrap .first {}

.SingleTab .Wrap .first .image {
    float: left;
    height: 80px;
    margin-right: 10px;
    width: 110px;
    border-radius: 10px;
}

.SingleTab .Wrap .first .title {
    margin: 0;
    padding: 0;
}

.SingleTab .Wrap .first p {
    margin: 0;
    padding-bottom: 6px;
    padding-top: 6px;
    text-align: justify;
}

.SingleTab .Wrap .first .title a {
    color: #555;
    font-weight: bold;
    text-decoration: none;
}

.SingleTab .Wrap .clear {
    clear: both;
}

.SingleTab .Wrap .next {
    color: #ce1110;
    list-style: outside none square;
    margin-top: 5px;
    padding-left: 11px;
}

.SingleTab .Wrap .next li {
    padding: 4px 0;
}

.SingleTab .Wrap .next li a {
    text-decoration: none;
}

.SingleTab .Wrap .first .title a {
    font: bold 11pt Arial;
    color: #FAA319;
    text-decoration: none;
}